/********************************TAG Selector**********************************/
body{
    background-color:  #393e46;
}
h1{
    color: #00adb5;
}
p{
    color: #eeeeee;
}
img{
    
    background-color: red;
}

span{
    color: red;
}
/*******************************CLASS Selector**********************************/



/*******************************ID Selector*************************************/
.para2{
    color:blue;
}
